<div class="">
  <h1 ng-if="user.type == 'create'">Создать пользователя</h1>
  <h1 ng-if="user.type == 'edit'">Изменить пользователя</h1>
</div>

<form class="form-horizontal" ng-submit="user.saveUser()">
  <div class="form-group">
    <label class="col-sm-2 control-label">Имя</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="user.userData.name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Имя пользователя</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="user.userData.username">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" ng-model="user.userData.password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-success btn-lg btn-block"
      ng-if="user.type == 'create'">Создать пользователя</button>
      <button type="submit" class="btn btn-success btn-lg btn-block"
      ng-if="user.type == 'edit'">Изменить пользователя</button>
    </div>
  </div>
</form>

<div class="row show-hide-message ng-hide-add ng-hide-remove" ng-show="user.message">
  <div class="col-sm-6 col-sm-offset-2">
    <div class="alert alert-info">
      {{user.message}}
    </div>
  </div>
</div>
